<div class='movies col-4'>
    <h3>Movies to Watch</h3>
    <ol>
       <li *ngFor ="let movie of movies">{{movie}}</li>
    </ol>
    <hr>
    <div class='newMovies' *ngIf ="!movies.includes(newTitle) && newTitle !== ''; else invalidEntry">
    <input #newMovie (keyup.enter)='addMovie(newMovie.value); newMovie.value = ""' type='text' placeholder="Enter Movie Title Here"/>
    <button (click)='addMovie(newMovie.value); newMovie.value = ""'>Add</button>
   </div>
 </div>

 <ng-template #invalidEntry>
   <div class='newMovies'>
      <input #newMovie (keyup.enter)='newMovie.value = ""' type='text' placeholder="Enter Movie Title Here"/>
      <button (click)='newMovie.value = ""'>Add</button>
      <p>Invalid Entry. Try Again.</p>
     </div>
 </ng-template>